$color : (
    bleu : rgb(0, 174, 255),
    blanc : white,
    noir : black,
);

body {
    background-image: url("../img/foggy-birds.png");
}
.wrapper {
    background-color: transparentize(map-get($color, blanc), .4);
    border: 5px solid map-get($color, bleu);
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 550px;
    margin: 40px auto 0 auto;
}
h1 {
    // border: 1px solid #000;
    justify-self: center;
    margin: 0 auto;
}
h2 {
    padding: 3px 10px 3px 5px;
    border-bottom: 3px solid map-get($color, bleu);
    border-left: 3px solid map-get($color, bleu);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}
ul {
    // border: 1px solid #000;
    margin: 0;
    list-style: disc;
    list-style: disclosure-closed;
    list-style: thai;

    max-width: 500px;
    > li {
        // position: relative;
        margin: 5px;
        > a {
            color : map-get($color, noir);
            text-decoration: none;
            font-style: italic;
            &:hover {
                color : darken(map-get($color, bleu), 15%);
                > svg {
                    color : map-get($color, bleu);
                    transform: scale(1.3) translateX(3px) translateY(-3px);
                }
            }
            > span {
                color: darken(map-get($color, bleu), 20%);
                &:hover {
                    color : map-get($color, bleu);
                    
                }
            }
        }
        > a svg, svg {
            width : 10px;
            color : darken(map-get($color, bleu), 15%);
            transition: 300ms;
        }
        &:hover > svg {
            color : map-get($color, bleu);
            transform: scale(1.5) rotate(-43deg);
        }
        &:hover > span {
            text-decoration: underline 2px map-get($color, bleu);
        }
        &:hover > a .etoile {
            color: map-get($color, bleu);
        }
        span {
            text-decoration: underline 1px darken(map-get($color, bleu), 20%);
        }
    }   
}
.etoile {
    text-decoration: none;
    // border: 1px solid rgb(109, 71, 71);

}
.hidden {
    transform: translateX(-20px);
    display: none;
    > img {
        width: 110%;
        transition: 500ms;
        &:hover {
            transform: scale(1.6);
        }
    }
}
.tel {

}
.clicker {
    &:hover {
        cursor: pointer;
    }
    &:focus + .hidden {
    display: block;
    @media screen and (max-width: 500px) {
        color: red;
    }
}
h3 {
    margin: 10px 13px;
    padding: 0;
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: underline dotted 2px darken(map-get($color, bleu), 10%);
}
.notes {
    margin-top: 30px;
    font-size: .9em;
    font-style: italic;
    > p {
        padding: 0;
        margin: 0;
    }
    > svg {
        color : darken(map-get($color, bleu), 20%);
        width : 15px;
    }
}
.right {
    align-self: flex-end;
}

